<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
	
<suite name = "inetbankingV1">
	
	<test name = "BankingAPP Test">
		<parameter name ="browser" value="firefox" />
		<classes>
   			<class name ="com.inetbanking.testCases.TC_LoginTest_001"  />
		</classes>	
	</test>
	
</suite>